{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="card">
            <h1 class="card-header">Le réseau Médiapass</h1>
            <div class="card-body">
                <p>Créé en 2013, le réseau Médi@'pass regroupe :</p>
                <ul>
                    <li>9 médiathèques municipales</li>
                    <li>1 centre de documentation à l'écomusée de l'avesnois - site de Fourmies</li>
                </ul>
                <p>Le réseau est doté d'un partenaire belge en la commune de Momignies et vise la mutualisation des ressources et des actions pour offrir à la population plus de documents, plus de médiations et d'animations !</p>
                <p>Le réseau est également présent sur les réseaux sociaux.</p>
                <p>L'objectif est de proposer une offre complémentaire et variée tout en gardant l'identité de chaque commune. Cela permet aussi de mutualiser les coûts et de faire venir des auteurs et des intervenants sur tout le territoire.</p>
                <p>Ainsi, le réseau propose des animations intercommunales en commun, mais chaque lieu élargit son offre localement par des actions municipales.</p>
                <p>Ce réseau est gratuit et vous est accessible grâce à la carte commune : le pass pour emprunter dans chaque médiathèque : la carte Médi@'pass.</p>
                <p>Elle est gratuite pour les habitants de la communauté de communes sudavesnois et les habitants de Momignies. Elle coûte 5€ pour les personnes extérieures à régler au PIDE de Fourmies. (Pôle intercommunal de développement économique - rue du Gnl Chomel 59610 Fourmies)</p>
            </div>

        </div>
    </div>

{% endblock %}