{% extends 'base.html' %}

{% block content %}

    <div class="justify-content-center align-items-center vh-100">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h1>Mentions légales</h1>

                        <h2>Informations légales</h2>

                        <p>La Communauté de Communes Sud Avesnois ( CCSA ) est une administration publique enregistrée au répertoire SIREN sous le numéro : 200 043 404</p>

                        <p>Téléphone : 03 27 60 65 24<br>
                            Adresse e-mail : contact@cc-sudavesnois.fr<br>
                            Adresse : Zone de la Marlière 2 Rue du Général Raymond Chomel 59610 Fourmies<br>
                            Hébergeur du site : [nom de l'hébergeur], [adresse complète], [numéro de téléphone], [adresse e-mail]</p>

                        <h2>Protection des données personnelles</h2>

                        <h3>RGPD</h3>

                        <p>Le Règlement Général sur la Protection des Données (RGPD) est un règlement européen qui renforce la protection des données personnelles des citoyens de l'Union européenne.</p>

                        <p>En tant qu'éditeur de ce site, nous sommes amenés à collecter et à traiter des données personnelles. Nous nous engageons à respecter les dispositions du RGPD et à assurer la sécurité et la confidentialité des données collectées.</p>

                        <h3>Données collectées</h3>

                        <p>Nous collectons uniquement les informations nécessaires à la réservation d'un produit. Nous ne collectons pas de données sensibles telles que des informations sur la santé ou des données relatives à des condamnations pénales ou à des infractions.</p>

                        <h3>Finalités de l'utilisation des données</h3>

                        <p>Nous utilisons les données personnelles collectées uniquement pour la réservation d'un produit. Les données ne sont pas utilisées à des fins commerciales et ne sont pas communiquées à des tiers.</p>

                        <h3>Durée de conservation des données</h3>

                        <p>Nous conservons les données personnelles collectées pour la durée nécessaire à la finalité pour laquelle elles ont été collectées, conformément à la législation applicable. Les données ne sont pas conservées au-delà de cette période.</p>

                        <h3>Droits des personnes concernées</h3>

                        <p>Conformément à la législation applicable, vous disposez d'un droit d'accès, de rectification, d'effacement, de limitation du traitement, de portabilité et d'opposition aux données vous concernant. Vous pouvez exercer ces droits en nous contactant à l'adresse <a href="mailto:j.brechoire@gmail.com">j.brechoire@gmail.com</a></p>

                        <h3>Contact</h3>

                        <p>Pour toute question relative à la protection des données personnelles, vous pouvez nous contacter à l'adresse
                            <a href="mailto:j.brechoire@gmail.com">j.brechoire@gmail.com</a></p>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}