{% extends "base.html" %}

{% block content %}

    <div class="row">
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">

                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                {% endfor %}

            </div>
        {% endif %}
        <!-- User Sidebar -->
        <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
            <!-- User Card -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="user-avatar-section">
                        <div class=" d-flex align-items-center flex-column">
                            <img class="img-fluid rounded my-4" src="{{ product.image.url }}" height="110" width="110" alt="User avatar" />
                            <div class="user-info text-center">
                                <h4 class="mb-2">{{ product.name }}</h4>

                                <p class="mb-0">Valeur d'assurance</p>
                                <span class="badge bg-label-secondary">{{ product.price }} &euro;</span>

                            </div>
                        </div>
                    </div>

                    <h5 class="pb-2 border-bottom mb-4">Details</h5>
                    <div class="info-container">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <span class="fw-bold me-2">Nom:</span>
                                <span>{{ product.name }}</span>
                            </li>
                            <li class="mb-3">
                                <span class="fw-bold me-2">Description:</span>
                                <span>{{ product.description }}</span>
                            </li>
                            <li class="mb-3">
                                <span class="fw-bold me-2">Catégorie:</span>
                                <span>{{ product.category.name }}</span>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="mb-3">
                                    <span class="fw-bold me-2">Status:</span>
                                    {% if product.status == 1 %}
                                        <span class="badge bg-label-success">Active</span>
                                    {% else %}
                                        <span class="badge bg-label-danger">Désactivé</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                            <li class="mb-3">
                                <span class="fw-bold me-2">Quantité:</span>
                                <span>{{ product.quantity }}</span>
                            </li>

                        </ul>
                        {% if user.is_authenticated %}
                            <div class="d-flex justify-content-center pt-3">
                                <a href="{% url 'product_update' product.pk %}" class="btn btn-primary me-3">Modifier</a>
                                <a href="{% url 'product_delete' product.pk %} " class="btn btn-danger me-3" onclick="return confirm('Êtes-vous sûr de vouloir supprimer le produit ?');">Supprimer</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /User Card -->

        </div>
        <!--/ User Sidebar -->


        <!-- User Content -->
        <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">


            <!-- Calendrier -->
            <div class="card mb-4">
                <h5 class="card-header">Calendrier</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Current Plan -->

            <!-- Réservation -->
            <div class="card mb-4" id="reservation">
                <h5 class="card-header">Réservation</h5>
                <div class="card-body">
                    <div class="row">
                        {% if product.status == 1 %}
                            <form method="post" enctype="multipart/form-data">
                                <div class="col-12 order-2 order-xl-0">
                                    {% csrf_token %}

                                    <div class="row">

                                        <div class="col-sm-6">
                                            {{ form.start_date.label_tag }}
                                            {{ form.start_date }}
                                            {% if form.start_date.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.start_date.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="col-sm-6">
                                            {{ form.end_date.label_tag }}
                                            {{ form.end_date }}
                                            {% if form.end_date.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.end_date.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="col-sm-6">
                                            {{ form.pickup_time.label_tag }}
                                            {{ form.pickup_time }}
                                            {% if form.pickup_time.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.pickup_time.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="col-sm-6">
                                            {{ form.deposit_time.label_tag }}
                                            {{ form.deposit_time }}
                                            {% if form.deposit_time.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.deposit_time.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="col-sm-6">
                                            {{ form.quantity.label_tag }}
                                            {{ form.quantity }}
                                            {% if form.quantity.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.quantity.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="col-sm-6">
                                            <label for="structures">Structures</label>
                                            <select id="structures" class="form-control" name="{{ form.structure.name }}">
                                                {% for structure in structures %}
                                                    <option value="{{ structure.pk }}">{{ structure.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <a href="{% url 'structure_create_register' %}">Votre structure n'est pas présente ?</a>
                                            {% if form.structure.errors %}
                                                <div class="text-danger">
                                                    {% for error in form.structure.errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="mt-3">
                                            <div class="input-group">
                                                <span class="input-group-text">Description</span>
                                                {{ form.description }}
                                                {% if form.description.errors %}
                                                    <div class="text-danger">
                                                        {% for error in form.description.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary me-2 my-2">Enregister</button>
                                </div>
                            </form>
                        {% else %}
                            Réservation non disponible
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /Réservation -->

        </div>
        <!--/ User Content -->
    </div>

{% endblock %}

{% block javascripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour',
                    list: 'Liste'
                },
                locale: 'fr',
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                selectable: false,
                selectMirror: true,
                dayMaxEvents: true,
                weekends: true,
                weekNumbers: true,
                dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                monthNamesShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sept', 'Oct', 'Nov', 'Dec'],
                events: [
                    {% for reservation in reservations %}
                        {% if reservation.is_approved == True %}
                            {
                                title: '{{ reservation.structure.name }}',
                                start: '{{ reservation.start_date|date:"Y-m-d" }}T{{ reservation.pickup_time|time:"H:i:s" }}',
                                end: '{{ reservation.end_date|date:"Y-m-d" }}T{{ reservation.deposit_time|time:"H:i:s" }}',
                                color: '{{ reservation.structure.color }}'
                            },
                        {% endif %}
                    {% endfor %}
                ],
                eventClick: function(info) {
                    console.log(info);
                }
            });
            calendar.render();
        });

    </script>
{% endblock %}
